<div id="about-container">
  <div id="about-first-container">
    <div id="about-first-top-container">
      <div id="about-title" class="section-title">#about</div>
      <div id="about-line"></div>
    </div>
    <div id="about-first-bottom-container">
      <div id="about-description">
        <p>
          I'm a recent graduate in Software Engineering at Polytechnique Montréal.
          I love working on Full-Stack projects and I'm always prototyping something new! My hobbies include learning new technologies through personnal projects, which you can find on my
          Github.
        </p>
      </div>
      <div id="about-contact">
        <a href="https://github.com/SamuelPoulin/" target="_blank">
          <img src="assets/githubwhiteicon.png" class="social-icon">
        </a>
        <a href="https://linkedin.com/in/samuel-poulin" target="_blank">
          <img src="assets/linkedinwhiteicon.png" class="social-icon">
        </a>
        <a href="mailto:samuel-poulin@outlook.com">
          <img src="assets/mailwhiteicon.png" class="social-icon">
        </a>
      </div>
    </div>
  </div>
  <div id=about-second-container>
    <img id="personal-picture" src="assets/samuelpoulin.jpg">
  </div>
</div>