<div id="about-container">
  <div id="about-first-container">
    <div id="about-first-top-container">
      <div id="about-title" class="section-title">#about</div>
      <div id="about-line"></div>
    </div>
    <div id="about-first-bottom-container">
      <div id="about-description">Currently in my third year of Software Engineering at Polytechnique Montréal.
        Full-Stack development is my forte, although I do like designing Front-End and thoroughly enjoy coding
        Back-End. My hobbies include learning new technologies through personnal projects, which you can find on my
        Github!
      </div>
      <div id="about-contact">
        <p>
          You can find me on <a href="https://www.linkedin.com/in/samuel-poulin/" target="_blank">LinkedIn</a>, <a
            href="https://github.com/SamuelPoulin" target="_blank">Github</a> or by sending me an <a
            href="mailto:samuel-poulin@outlook.com">email</a>!
        </p>
      </div>
    </div>
  </div>
  <div id=about-second-container>
    <img id="personal-picture" src="assets/samuelpoulin.jpg">
  </div>
</div>