<div id="contact-container">
  <div id="contact-first-container">
    <div id="contact-first-top-container">
      <div id="contact-title" class="section-title">#contact</div>
      <div id="contact-line"></div>
    </div>
  </div>
  <div id="contact-second-container">
    <div>You can find me on&nbsp;</div>
    <a href="https://www.linkedin.com/in/samuel-poulin/" target="_blank">LinkedIn</a>
    <div>,&nbsp;</div>
    <a href="https://github.com/SamuelPoulin" target="_blank">Github</a>
    <div>&nbsp;or by sending me an&nbsp;</div>
    <a href="mailto:samuel-poulin@outlook.com">email</a>
    <div>!</div>
  </div>
</div>