<div id="top-container" class="fullscreen-container">
  <div></div>
  <div id="presentation-container">
    <div id="name-container">
      {{displayedText}}{{displayedLine}}
    </div>
    <div id="description-container">
      Software Engineering @ Polytechnique Montréal
    </div>
  </div>
  <button mat-icon-button id="down-button" (click)="scrollToElement('#middle-container')">
    <mat-icon>keyboard_arrow_downwards</mat-icon>
  </button>
</div>
<div id="middle-container" class="fullscreen-container">

</div>