.fullscreen-container {
  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100vh;
}

.halfscreen-container {
  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 50vh;
}

#top-container {
  background: #f3f3f3;
  justify-content: space-between;
}

#middle-container {
  background-color: #1b1b2f;
}

#presentation-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

#name-container {  
  width: 215px;
  height: 40px;

  font-family: 'Lato';
  font-size: 32px;
}

#description-container {
  
}

#down-button {
  display: flex;
  align-self: center;
  margin-bottom: 75px;
}