<div id="top-container" class="fullscreen-container">
  <div></div>
  <div id="presentation-container">
    <div id="name-container">
      {{displayedText}}{{displayedLine}}
    </div>
    <div id="description-container">
      <div>Software Engineering</div>
      <div id="description-divider">@</div>
      <div>Polytechnique Montréal</div>
    </div>
  </div>
  <button mat-icon-button id="down-button" class="neumorphic-light" (click)="scrollToElement('#bottom-container')">
    <mat-icon>expand_more</mat-icon>
  </button>
</div>
<div id="bottom-container">
  <div id="about-container">
    <div id="about-first-container">
      <div id="about-first-top-container">
        <div id="about-title" class="section-title">#about</div>
        <div id="about-line"></div>
      </div>
      <div id="about-first-bottom-container">
        <div id="about-description">Currently in my third year of Software Engineering at Polytechnique Montréal. Full-Stack development is my forte, although I do like designing Front-End and thoroughly enjoy coding Back-End. My hobbies include learning new technologies through personnal projects, which you can find on my Github!</div>
      </div>
    </div>
    <div id=about-second-container>
      <img id="personal-picture" src="assets/samuelpoulin.jpg">
    </div>
  </div>
  <div id="experience-container">

  </div>
  <div id="contact-container">

  </div>
</div>